body {
    
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    
}
.titulo {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
